body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f4f6f8;
    color:#333;
}

/* nav bar */
nav{
    position:sticky;
    top:0;
    z-index:1000;
}

.navbar{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:40px;
    padding:18px;
    margin:0;
    background:#222;
}

.navbar a{
    color:white;
    text-decoration:none;
    font-size:16px;
    font-weight:bold;
    transition:color 0.2s;
}

.navbar a:hover{
    color:#ffd90f;
}

/* hero section */

.hero{
    text-align:center;
    padding:60px 20px 40px 20px;
}

.hero h1{
    font-size:42px;
    margin-bottom:10px;
}

.hero p{
    font-size:18px;
    color:#666;
}

/* card container */

.card-container{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
    padding:30px;
}

.card{
    background:white;
    width:300px;
    text-align:center;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.12);
    text-decoration:none;
    color:#333;
    overflow:hidden;
    transition:transform 0.25s, box-shadow 0.25s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,0,0,0.2);
}

.card img{
    width:100px;
    height:200px;
    object-fit:cover;
}

.card h2{
    margin:15px 0 5px 0;
}

.card p{
    padding:0 20px 20px 20px;
    font-size:14px;
    color:#666
}



main{
    max-width:1000px;
    margin:40px auto;
    background:white;
    padding:40px;
    border-radius:10px;
    box-shadow:0px 10px 25px rgba(0,0,0,0.1);
}

h1,h2{
    color:#222;
}

/* home page */


/* about me page*/

.geass-theme{
    background:radial-gradient(circle at top,#1a0000,#000);
    background:radial-gradient(circle at center,#300000,#000);
    color:#0a0a0a;
}

.geass-theme main{
    background:#0a0a0a;
    border:1px solid #550000;
    box-shadow:0 0 40px rgba(255,0,0,0.25)
}

.geass-hero{
    text-align:center;
    padding:60px 20px 40px 20px;
}

.geass-hero img{
    width:120px;
    margin-bottom:15px;
    animation:geassGlow 3s infinite alternate;
    transition:transform 0.4s;
}

.geass-hero img:hover{
    transform:scale(1.15) rotate(8deg);
}


.geass-hero h1{
    font-size:42px;
    color:#ff1a1a;
    text-shadow:0 0 10px red;
}

.geass-hero p{
    font-style:italic;
    color:#aaa;
}

.about-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
    margin-top:30px;
}

.geass-theme .about-card{
    background:#111;
    padding:25px;
    border-radius:12px;
    border:1px solid #7a0000;
    box-shadow:0 0 20px rgba(255,0,0,0.2);
    color:#e6e6e6;
}

.geass-theme .about-card p{
    color:#e6e6e6;
}

.geass-theme .about-card li{
    color:#e6e6e6;
}

.about-card h2{
    color:#d4af37;
    margin-bottom:15px;
}

.about-card img{
    width:100%;
    border-radius:8px;
    margin-top:15px;
}

@keyframes geassGlow{
    from{
        filter:drop-shadow(0 0 5px red);
    }
    to{
        filter:drop-shadow(0 0 20px red);
    }
}