body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f4f6f8;
    color:333;
}

/* nav bar */
nav{
    position:sticky;
    top:0;
    z-index:1000;
}

.navbar{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:40px;
    padding:18px;
    background:#222;
}

.navbar a{
    color:white;
    text-decoration:none;
    font-size:16px;
    font-weight:bold;
    transition:color 0.2s;
}

.navbar a:hover{
    color:#ffd90f;
}


.hero{
    text-align:center;
    padding:60px 20px 40px 20px;
}

.hero h1{
    font-size:42px;
    margin-bottom:10px;
}

.hero p{
    font-size:18px;
    color:#666;
}

.card-container{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
    padding:30px;
}

.card{
    background:white;
    width:300px;
    text-align:center;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.12);
    text-decoration:none;
    color:#333;
    overflow:hidden;
    transition:transform 0.25s, box-shadow 0.25s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,0,0,0.2);
}

.card img{
    width:100px;
    height:200px;
    object-fit:cover;
}

.card h2{
    margin:15px 0 5px 0;
}

.card p{
    padding:0 20px 20px 20px;
    font-size:14px;
    color:#666
}


/* pages */

main{
    max-width:1000px;
    margin:40px auto;
    background:white;
    padding:40px;
    border-radius:10px;
    box-shadow:0px 10px 25px rgba(0,0,0,0.1);
}

h1,h2{
    color:#222;
}